<!DOCTYPE html>
<html lang="vi">
  <head>
    <title>Giỏ hàng</title>
    <%- include('../partials/user/Head') %>
    <style>
      .cart-empty {
        padding: 100px 20px;
        text-align: center;
      }
      .cart-empty svg {
        width: 120px;
        height: 120px;
        color: #dee2e6;
        margin: 0 auto 30px;
      }
      .cart-item-image {
        width: 100px;
        height: 100px;
        object-fit: cover;
        border-radius: 8px;
      }
    </style>
  </head>

  <body class="bg-white">
    <%- include('../partials/user/SVGIcon') %> <%-
    include('../partials/user/Search') %> <%- include('../partials/user/Header')
    %>

    <div id="cart-container"></div>

    <%- include('../partials/user/Footer') %> <%-
    include('../partials/user/Script') %>

    <script src="/js/cart_page.js"></script>
  </body>
</html>
